<section class="role-list">
    <h1 class="page-title">Role List</h1>

    <div class="row">
        <button routerLink="/role/form" class="btn btn-primary addRoleBtn">
            Add Role
        </button>
    </div>

    <div class="row">
        <table class="table table-bordered role-list-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="roleList === null">
                    <td class="empty-list" colspan="3">Empty Role List</td>
                </tr>
                <tr *ngFor="let role of roleList">
                    <td>{{role.id}}</td>
                    <td>{{role.roleName}}</td>
                    <td>
                        <button class="btn btn-default" [class.selected]="role === selectedRole"
                                (click)="onSelect(role); gotoView()">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>