<div class="contact-group">
    <h3>
        Contacts
        <button class="btn btn-primary addBtn">
            Add Contact
        </button>
    </h3>
    <br>
    <table class="table table-condensed table-bordered contact-table">
        <thead>
        <tr>
            <th>Contact</th>
            <th>Contact Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!contactList">
            <td class="empty-list" colspan="3">No Contacts</td>
        </tr>
        <tr *ngFor="let contact of contactList">
            <td>{{contact.contactInfo}}</td>
            <td>{{contact.contactType}}</td>
            <td>
                <button class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>