<div class="contact-group">
    <h3>
        Contacts
        <button class="btn btn-primary addBtn">
            Add Contact
        </button>
    </h3>
    <br>
    <table class="table table-condensed table-bordered contact-table">
        <thead>
        <tr>
            <th>Contact</th>
            <th>Contact Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="empty-list" colspan="2">No Contacts</td>
        </tr>
        </tbody>
    </table>
</div>