<section class="admin-form">
    <h1 class="page-title">Admin Form</h1>
    <form action="post" class="form">
        <div class="row admin-form-input">
            <div class="col-md-6 col-md-offset-3">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <label for="initialRole">Initial Role</label>
                <input type="text" id="initialRole" class="form-control" name="initialRole" placeholder="Initial Role">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary submit-btn">
                    <i class="fa fa-paper-plane"></i> Submit
                </button>
            </div>
        </div>
    </form>
</section>