<section class="admin-list">
    <h1 class="page-title">Admin List</h1>

    <div class="row">
        <button routerLink="/admin/form" class="btn btn-primary addAdminBtn">
            Add Admin
        </button>
    </div>

    <div class="row">
        <table class="table table-bordered admin-list-table">
            <thead>
            <tr>
                <th>Admin Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="adminList === null">
                <td class="empty-list" colspan="2">Empty Admin List</td>
            </tr>
            <tr *ngFor="let admin of adminList">
                <td>{{admin.roleName}}</td>
                <td>
                    <button class="btn btn-default" [class.selected]="admin === selectedAdmin"
                            (click)="onSelect(admin); gotoView()">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button class="btn btn-default"
                            (click)="delete(admin)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>