<section class="admin-dashboard">
    <h1 class="page-title">Administrator Dashboard</h1>
    <div class="row">
        <div class="col-md-4 person-panel">
            <a routerLink="/user" class="btn btn-default btn-block main-links">
                <i class="fa fa-5x fa-users"></i>
                <br>
                <p class="h2">
                    Person<br/>Management
                </p>
            </a>
        </div>

        <div class="col-md-4 role-panel">
            <a routerLink="/role" class="btn btn-default btn-block main-links">
                <i class="fa fa-5x fa-briefcase"></i>
                <br>
                <p class="h2">
                    User<br/>Management
                </p>
            </a>
        </div>

        <div class="col-md-4 admin-panel">
            <a routerLink="/admin/list" class="btn btn-default btn-block main-links">
                <i class="fa fa-5x fa-user"></i>
                <br>
                <p class="h2">
                    Admin<br/>Management
                </p>
            </a>
        </div>
    </div>

</section>