.log-in button {
  float: right;
}

.log-in input {
  margin-bottom: 15px;
}

.log-in .page-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.log-in .panel {
  margin: 0 auto;
  max-height: 60%;
  max-width: 40%;
  min-width: 250px;
}

