.main-links {
    padding-top: 50px;
    min-height: 250px;
}

#main-container {
    margin-bottom: 50px;
}

.form-buttons {
    margin-top: 30px;
}

.req::after {
    content: ' *';
    color: red;
}

.footer {
}

.fa.fa-10x{
    font-size: 10em;
}


/* Copied from bootstrap examples */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px; /* Multiplied footer height it to 2 for added space */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;

    background-color: #222;
}

.footer li.dropup > a {
    color: #bcbcbc;
}
.footer li.dropup > a:hover,
.footer li.dropup > a:focus {
    background-color: #333;
}