.main-links {
    padding-top: 50px;
    min-height: 250px;
}

#main-container {
    margin-bottom: 50px;
}

.form-buttons {
    margin-top: 30px;
}

.req::after {
    content: ' *';
    color: red;
}

.footer {
    background-color: #333;
    margin-top: 150px;
    padding-bottom: 15px;
}