<section class="person-list">
    <h1 class="page-title">Person List</h1>

    <div class="row">
        <div class="person-list-menu">
            <button class="btn btn-primary addPersonBtn" routerLink="/user/form">
                Add Person
            </button>
            <!--<div class="dropdown">-->
                <!--<button class="btn btn-default dropdown-toggle sortPersonDropdown" type="button" id="sortPersonDropdown"-->
                        <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                    <!--Sort-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" aria-labelledby="sortPersonDropdown">-->
                    <!--<li><a href="#">by GWA: ASC</a></li>-->
                    <!--<li><a href="#">by GWA: DESC</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">by Date Hired: ASC</a></li>-->
                    <!--<li><a href="#">by Date Hired: DESC</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">by Last Name: ASC</a></li>-->
                    <!--<li><a href="#">by Last Name: DESC</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>

    <div class="row">
        <table class="table table-condensed person-list-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Address</th>
                <th>GWA</th>
                <th>Status</th>
                <th>Date Hired</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!personList">
                <td class="empty-list" colspan="8">Empty Person List</td>
            </tr>
            <tr *ngFor="let person of personList">
                <td>{{person.id}}</td>
                <td>{{person.username}}</td>
                <td>{{person.titleName}} {{person.firstName}} {{person.middleName}} {{person.lastName}},
                    {{person.suffix}}
                </td>
                <td>{{person.street}}, {{person.barangay}}, {{person.city}}, {{person.zipCode}}</td>
                <td>{{person.gwa}}</td>
                <td>{{person.currentlyEmployed}}</td>
                <td>{{person.dateHired}}</td>
                <td>
                    <button class="btn btn-default" [class.selected]="person === selectedPerson"
                            (click)="onSelect(person); gotoView()">
                        <i class="fa fa-eye"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>