<section class="person-form">
    <h1 class="page-title">
        Add Person
    </h1>

    <form #f="ngForm" *ngIf="!newPerson" class="form">
        <div class="account-group">
            <h3>Account</h3>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="username" class="req">Username</label>
                    <input (ngModel)="newPerson.username" type="text" id="username" class="form-control"
                           name="username" placeholder="Username" required ngControl="username"/>
                </div>
                <!--<div class="col-md-4 form-group">
                    <label for="password" class="req">New Password</label>
                    <input type="password" id="password" class="form-control" name="password"
                           placeholder="Password" required ngControl="password"/>
                </div>
                <div class="col-md-4">
                    <br/>
                    <small>
                        *Password must be atleast 8 characters, made up of numbers and letters.
                    </small>
                </div>-->
            </div>
        </div>

        <div class="name-group">
            <h3>Name</h3>
            <div class="row">
                <div class="col-md-1 input-grp">
                    <label for="title">Title</label>
                    <input (ngModel)="newPerson.titleName" type="text" id="title" class="form-control"
                           name="title" placeholder="Title" ngControl="title"/>
                </div>
                <div class="col-md-4 input-grp">
                    <label for="firstName" class="req">First Name</label>
                    <input (ngModel)="newPerson.firstName" type="text" id="firstName" class="form-control"
                           name="firstName" placeholder="First Name" ngControl="firstName" required/>
                </div>
                <div class="col-md-3 input-grp">
                    <label for="middleName">Middle Name</label>
                    <input (ngModel)="newPerson.middleName" type="text" id="middleName" class="form-control"
                           name="middleName" placeholder="Middle Name" ngControl="middleName"/>
                </div>
                <div class="col-md-3 input-grp">
                    <label for="lastName" class="req">Last Name</label>
                    <input (ngModel)="newPerson.lastName" type="text" id="lastName" class="form-control"
                           name="lastName" placeholder="Last Name" ngControl="lastName" required/>
                </div>
                <div class="col-md-1 input-grp">
                    <label for="suffix">Suffix</label>
                    <input (ngModel)="newPerson.suffix" type="text" id="suffix" class="form-control" name="suffix"
                           placeholder="Suffix" ngControl="suffix"/>
                </div>
            </div>
        </div>

        <!--<div class="row birthdate-group">
            <div class="col-md-4">
                <h3 class="req">Birth Date</h3>
                <input type="date" id="birthdate" class="form-control" name="birtdate"
                       placeholder="mm/dd/yyyy" ngControl="birthdate" required>
            </div>
        </div>-->

        <div class="address-group">
            <h3>Address</h3>
            <div class="row">
                <div class="col-md-4 input-grp">
                    <label for="street">Street</label>
                    <input (ngModel)="newPerson.street" type="text" id="street" class="form-control" name="street"
                           placeholder="Street" ngControl="street">
                </div>
                <div class="col-md-3 input-grp">
                    <label for="barangay">Barangay</label>
                    <input (ngModel)="newPerson.barangay" type="text" id="barangay" class="form-control" name="barangay"
                           placeholder="Barangay" ngControl="barangay">
                </div>
                <div class="col-md-3 input-grp">
                    <label for="city" class="req">City</label>
                    <input (ngModel)="newPerson.city" type="text" id="city" class="form-control" name="city"
                           placeholder="City" ngControl="city" required>
                </div>
                <div class="col-md-2 input-grp">
                    <label for="zipCode">Zip Code</label>
                    <input (ngModel)="newPerson.zipCode" type="text" id="zipCode" class="form-control" name="zipCode"
                           placeholder="Zip Code" ngControl="zipCode">
                </div>
            </div>
        </div>

        <div class="other-group">
            <h3>Employment Info</h3>
            <div class="row">
                <div class="col-md-4">
                    <label for="gwa">GWA</label>
                    <input (ngModel)="newPerson.gwa" type="number" id="gwa" class="form-control" name="gwa"
                           placeholder="GWA" ngControl="gwa">
                </div>
            </div>
            <label>Employed?</label>
            <div class="row rdbtnPanel">
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" name="optEmployed"
                               (ngModel)="newPerson.currentlyEmployed"
                               [value]="true"> Yes
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" name="optEmployed"
                               (ngModel)="newPerson.username"
                               [value]="false"> No
                    </label>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-4">
                    <label for="dateHired">Date Hired</label>
                    <input type="date" id="dateHired" class="form-control" name="dateHired" placeholder="Date Hired">
                </div>
            </div>-->
        </div>
        <div class="submit-btn">
            <button type="submit" class="btn btn-primary" (click)="onSubmit(newPerson); goBack()">
                <i class="fa fa-paper-plane"></i> Submit
            </button>
        </div>
    </form>
</section>