/* frameworks & toolkits */
@import url('./bootstrap.min.css');
@import url('./font-awesome.min.css');

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Arvo|Cinzel');

/* components */
@import url('components/login.component.css');
@import url('components/admin-dashboard.component.css');
@import url('components/admin-list.component.css');
@import url('components/person-form.component.css');
@import url('components/person-list.component.css');
@import url('components/role-list.component.css');

/*
===============================================
Layout
===============================================
*/

.container {
    max-width: 960px;
}

.rdbtnPanel {
    padding: 10px;
}

section {
    margin: 90px auto 120px auto;
}

.footer {
    background-color: #000000;
    margin-top: 15px;
    padding: 25px;
}

/*
===============================================
Navigation
===============================================
*/

.main-nav {
    margin: 0 auto;
    padding: 0 10%;
}

/*
===============================================
Typography
===============================================
*/

* {
    font-family: 'Arvo', serif;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
}

.page-title {
    font-family: 'Cinzel', serif;
    text-align: center;
}

/*
===============================================
Buttons
===============================================
*/

.submit-btn {
    float: right;
}




